<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row>    
      <ait-dictbox v-model='docType_' placeholder="Тип документа" dictType="docid" nullable @input="onChange($event, 'docType')"></ait-dictbox>
    </v-layout>
    <v-layout row>
      <v-flex xs6>
        <ait-textbox v-model="seriesNumber_" label="Серия, номер" @input="onChange($event, 'seriesNumber')"></ait-textbox>
      </v-flex>
      <v-flex xs6>
        <ait-date-picker v-model="date_" placeholder='Дата выдачи' @input="onChange($event, 'date')"></ait-date-picker>  
      </v-flex>
    </v-layout>    
    <v-layout row>
      <ait-textbox v-model="organization_" label="Кем выдан" @input="onChange($event, 'organization')"></ait-textbox>
    </v-layout>    
  </v-container>
</template>

<script>
  import TextBox from '../TextBox'
  import DatePicker from '../DatePicker'
  import DictBox from '../DictBox'

  export default {
    name: 'ait-docid',

    components: {
      'ait-textbox': TextBox,
      'ait-date-picker': DatePicker,
      'ait-dictbox': DictBox,
    },
    
    props: {
      'seriesNumber': {
        type: String
      },
      'date': {
        type: Date
      },
      'organization': {
        type: String
      },
      'docType': {
        type: Object
      }
    },

    data () {
      return {
        seriesNumber_: this.seriesNumber,
        date_: this.date,
        organization_: this.organization,
        docType_: this.docType
      }
    },    

    watch: {
      seriesNumber: function (newValue) {
        this.seriesNumber_ = newValue
      },
      date: function (newValue) {
        console.log('date watch!');
        this.date_ = newValue
      },
      organization: function (newValue) {
        this.organization_ = newValue
      },
      docType: function (newValue) {
        this.docType_ = newValue
      },
    },

    methods: {
      onChange(value, field) {
        console.log(value);
        console.log(field);
        this.$emit('update:' + field, value);
      }
    }
  }
</script>

<style scoped>
</style>
