<template>
  <v-menu
    ref="menu"
    lazy
    :close-on-content-click="false"
    v-model="menu"
    transition="scale-transition"
    offset-y
    full-width
    :nudge-right="40"
    min-width="290px"
  >
    <v-text-field
      slot="activator"
      :label="placeholder"
      v-model="date"
      readonly
    ></v-text-field>
    <v-date-picker
      ref="picker"
      v-model="date"
      @change="save"
      locale="ru-ru"
    ></v-date-picker>
  </v-menu>
</template>

<script>
  export default {
    name: 'ait-datepicker',
    
    props: {
      'value': {
        type: Date
      },
      'placeholder': {
        type: String
      }
    },
    
    data: () => ({
      date: null,
      menu: false
    }),

    mounted () {
      if (this.value)
        this.date = this.value.toISOString().substr(0, 10);
    },    

    watch: {
      value: function (newValue) {
        if (newValue)
          this.date = newValue.toISOString().substr(0, 10);
      }    
    },

    methods: {
      save (date) {
        this.$refs.menu.save(date);
        console.log('save: ' + new Date(date));
        this.$emit('input', new Date(date));
      }
    }
  }
</script>

<style scoped>
</style>
