<template>
  <v-text-field
      :single-line="singleLine"
      v-model="email"
      label="E-mail"
      :rules="[rules.email]"
      @input.native="event => { $emit('input', event.target.value) }"
  ></v-text-field>
</template>

<script>
  export default {
    name: 'ait-emailbox',
    
    props: {
      'value': {
        type: String
      },
      'singleLine': {
        type: Boolean
      }
    },

    data () {
      return {
        email: '',
        rules: {
          email: (value) => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Некорректный E-mail'          
          }        
        }
      }
    },    

    mounted () {
      this.email = this.value;
    },

    watch: {
      value: function (newValue) {
        this.email = newValue
      }    
    },
  }
</script>

<style scoped>
</style>
