<template>
  <v-text-field
      :single-line="singleLine"
      v-model="phone"
      label="Телефон"
      mask="(###) ### - ####"
      prefix="+7"
      @input.native="event => { $emit('input', event.target.value) }"
  ></v-text-field>
</template>

<script>
  export default {
    name: 'ait-phonebox',
    
    props: {
      'value': {
        type: String
      },
      'singleLine': {
        type: Boolean
      }
    },

    data () {
      return {
        phone: ''
      }
    },    

    mounted () {
      this.phone = this.value;
    },

    watch: {
      value: function (newValue) {
        this.phone = newValue
      }    
    },
  }
</script>

<style scoped>
</style>
