<template>
  <v-text-field
      :single-line="singleLine"
      v-model="snils"
      label="СНИЛС"
      mask="###-###-### ##"
      :rules="[rules.snils]"
      @input.native="event => { $emit('input', event.target.value) }"
  ></v-text-field>
</template>

<script>
  export default {
    name: 'ait-snilsbox',
    
    props: {
      'value': {
        type: String
      },
      'singleLine': {
        type: Boolean
      }
    },

    data () {
      return {
        snils: '',
        rules: {
          snils: (value) => { 
            var error = {
              code: null,
              message: null
            };            
            var result = this.validateSnils(value, error);
            return result || error.message;
          }
        }        
      }
    },    

    mounted () {
      this.snils = this.value;
    },

    watch: {
      value: function (newValue) {
        this.snils = newValue
      }    
    },
    
    methods: {
      validateSnils(snils, error) {
        var result = false;
        if (typeof snils === 'number') {
          snils = snils.toString();
        } else if (typeof snils !== 'string') {
          snils = '';
        }
        if (!snils.length) {
          error.code = 1;
          error.message = 'СНИЛС пуст';
        } else if (/[^0-9]/.test(snils)) {
          error.code = 2;
          error.message = 'СНИЛС может состоять только из цифр';
        } else if (snils.length !== 11) {
          error.code = 3;
          error.message = 'СНИЛС может состоять только из 11 цифр';
        } else {
          var sum = 0;
          for (var i = 0; i < 9; i++) {
            sum += parseInt(snils[i]) * (9 - i);
          }
          var checkDigit = 0;
          if (sum < 100) {
            checkDigit = sum;
          } else if (sum > 101) {
            checkDigit = parseInt(sum % 101);
            if (checkDigit === 100) {
              checkDigit = 0;
            }
          }
          if (checkDigit === parseInt(snils.slice(-2))) {
            result = true;
          } else {
            error.code = 4;
            error.message = 'Неправильное контрольное число';
          }
        }
        return result;
      }      
    }
  }
</script>

<style scoped>
</style>
